<div class="row py-4">
  <div class="col-12">
    <h5 class="text-success text-center">By Experience</h5>
    <form>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="type" id="allExperience"
               (click)="applyExperienceFilter(-1)" checked>
        <label class="form-check-label" for="allExperience">
          All
        </label>
      </div>
      <div class="form-check" *ngFor="let experience of listOfExperiences">
        <input class="form-check-input" type="radio" name="type" id="{{experience}}"
               (click)="applyExperienceFilter(experience)">
        <label class="form-check-label" for="{{experience}}">
          {{experience}}{{experience === 1 ? 'year' : 'years'}}
        </label>
      </div>
    </form>
  </div>
</div>
