<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img class="pb-1" src="../../assets/brand.png" width="40" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="isJobSide()">
        <a class="nav-link" routerLink="job">For job seekers</a>
      </li>
      <li class="nav-item" [class.active]="isCvSide()">
        <a class="nav-link" routerLink="cv">For employers</a>
      </li>
    </ul>
    <div *ngIf="!token.isLoggedIn()">
      <button class="btn-success btn rounded mx-1"
              data-toggle="modal"
              data-target="#registrationModal">
        Registration
      </button>
      <button class="btn-outline-success btn rounded mx-1"
              data-toggle="modal"
              data-target="#loginModal">
        Login
      </button>
    </div>
    <div *ngIf="token.isLoggedIn()">
      <div class="dropdown d-inline-block">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello, {{ token.getUser().username }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Profile</button>
          <button class="dropdown-item" type="button">My Cv</button>
          <button class="dropdown-item" type="button">Settings</button>
        </div>
      </div>
      <button class="btn-outline-success btn rounded mx-1"
              (click)="token.logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
<app-login-form-modal></app-login-form-modal>
<app-registration-form-modal></app-registration-form-modal>
