<div class="container-fluid p-4"
     *ngIf="job">
  <div class=" px-4 border border-secondary rounded">
    <div class="row">
      <div class="col-12">
        <div class="py-4">
          <h2>{{job.title}}</h2>
          <app-location-badge [location]="job.location"></app-location-badge>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div [innerHTML]="job.description"></div>
      </div>
      <div class="col-4 my-4">
        <app-company-side-bar [company]="job.companiesJob"></app-company-side-bar>
      </div>
    </div>
  </div>
</div>
