<div class="row py-4">
  <div class="col-12">
    <h5 class="text-success text-center">By Remote</h5>
    <form>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="type" id="allType" (click)="applyTypeFilter('All')" checked>
        <label class="form-check-label" for="allType">
          All
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="type" id="remoteType" (click)="applyTypeFilter('Remote')">
        <label class="form-check-label" for="remoteType">
          Remote
        </label>
      </div>
    </form>
  </div>
</div>
