<div class="row py-4">
  <div class="col-12">
    <h5 class="text-success text-center">By Salary</h5>
    <div class="list-group list-group-flush">
      <button type="button"
              class="list-group-item list-group-item-action bg-light"
              *ngFor="let filterValue of salaryFilterList"
              (click)="applySalaryFilter(filterValue)">
        <span [class.text-success]="selectedFilterValue === filterValue">from {{filterValue}} USD</span>
      </button>
    </div>
  </div>
</div>
